<section class="sidenav-content">
    <section class="nav-group">
        <input id="tabexample2" type="checkbox">
        <label for="tabexample2">Menus</label>
        <ul class="nav-list">
            <li><a [routerLink]="['projet']" class="nav-link">Creation d'un Projet</a></li>
            <li><a [routerLink]="['projetList']" class="nav-link">Liste des projets</a></li>
          
        </ul>

      
        
    </section>
</section>
