
            <clr-datagrid>
                <clr-dg-column>Nom du projet</clr-dg-column>
                <clr-dg-column>Description</clr-dg-column>
                <clr-dg-column>Estimation capital</clr-dg-column>
                <clr-dg-column>Lieu d'implantation</clr-dg-column>
                <clr-dg-column>Actions</clr-dg-column>
            
   
            
                <clr-dg-row *ngFor="let item of tab">
                    <clr-dg-cell>{{ item.nomProjet }}</clr-dg-cell>
                    <clr-dg-cell>{{ item.libProjet }}</clr-dg-cell>
                    <clr-dg-cell>{{ item.estimationCapital }}</clr-dg-cell>
                    <clr-dg-cell>{{ item.lieuImplantation }}</clr-dg-cell>
                    <clr-dg-cell><button  class="btn btn-primary" >Details</button>
                        
                    </clr-dg-cell>
                
                </clr-dg-row>
                
                
            </clr-datagrid>    
            